/* Foundation */
@font-face {
    font-family: "QualionRound";
    src: url("../fonts/QualionRound.ttf");
    src: url("../fonts/QualionRound.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "QualionRound";
    src: url("../fonts/QualionRound-Bold.ttf");
    src: url("../fonts/QualionRound-Bold.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
:root {
    --background-color: #f7faff;
    --base-color: #ffffff;
    --primary-color: #2f76e6;
    --secondary-color: #d1e2ff;
    --gradation-color: linear-gradient(
        160deg,
        rgba(226, 237, 247, 1) 0%,
        rgba(244, 247, 250, 1) 100%
    );
    --font-color: #202020;
    --glass-base: rgba(255, 255, 255, 0.6);
    --color-black: #202020;
    --color-white: #fff;
    --color-gray: #eeeeee;
    --color-light-pink: #ffa1bc;
    --color-pink: #ff2266;
    --max-width: 1080px;
    --shadow-color-hover: drop-shadow(0 0 20px rgba(47, 118, 230, 0.1));
    --sans-serif: "QualionRound", "QualionRound-Regular", "Helvetica Neue",
        Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    --monospace: "Courier", "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #202020;
        --base-color: #111111;
        --primary-color: #3477eb;
        --secondary-color: #273957;
        --gradation-color: linear-gradient(
            160deg,
            rgba(226, 237, 247, 1) 0%,
            rgba(244, 247, 250, 1) 100%
        );
        --font-color: #dddddd;
        --color-black: #111111;
        --color-gray: #404040;
        --color-light-pink: #4e1021;
        --color-pink: #ff5b8c;
        --glass-base: rgba(32, 32, 32, 0.6);
        --shadow-color-hover: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
    }
}
::selection,
::-moz-selection {
    background: var(--primary-color);
    color: #fff;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 30px;
}
body {
    font-size: 16px;
    line-height: 30px;
    font-family: var(--sans-serif);
    font-weight: 400;
    width: 100%;
    background: var(--background-color);
    color: var(--font-color);
}
input,
button,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    resize: vertical;
}
input {
    &[type="checkbox"],
    &[type="radio"] {
        display: none;
    }
    &[type="submit"],
    &[type="button"] {
        cursor: pointer;
    }
}
label,
button {
    cursor: pointer;
}
select {
    cursor: pointer;

    &::-ms-expand {
        display: none;
    }
}
/* Layout */
.l-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;
    transition: all 1s ease-out;
    &-full {
        grid-column: span 12;
        width: 100%;
        transition: all 1s ease-out;
    }
    &-extra-large,
    &-article {
        grid-column: span 8;
        width: 100%;
        transition: all 1s ease-out;
    }
    &-large {
        grid-column: span 6;
        width: 100%;
        transition: all 1s ease-out;
    }
    &-medium,
    &-sidebar {
        grid-column: span 4;
        width: 100%;
        transition: all 1s ease-out;
    }
    &-small {
        grid-column: span 3;
        width: 100%;
        transition: all 1s ease-out;
    }
    &-extra-small {
        grid-column: span 2;
        width: 100%;
        transition: all 1s ease-out;
    }
}
@media screen and (max-width: 992px) {
    .l-grid {
        grid-template-columns: repeat(12, 1fr);

        &-article {
            grid-column: span 12;
        }
        &-small {
            grid-column: span 4;
        }
        &-extra-small {
            grid-column: span 2;
        }
    }
}
@media screen and (max-width: 768px) {
    .l-grid {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 30px;

        &-full,
        &-large,
        &-article {
            grid-column: span 8;
        }
        &-small {
            grid-column: span 4;
        }
        &-extra-small {
            grid-column: span 2;
        }
    }
}
@media screen and (max-width: 576px) {
    .l-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;

        &-full,
        &-extra-large,
        &-large,
        &-medium,
        &-article {
            grid-column: span 4;
        }
    }
}
/* Flexbox */
.l-flex-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* - Header */
.l-header {
    width: 100%;
    height: 80px;
    padding: 0 40px;
    position: fixed;
    z-index: 999;
    transition: ease-in-out 0.2s;

    &-inner {
        max-width: var(--max-width);
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .l-header {
        padding: 0 30px;
        height: 60px;
    }
}
@media screen and (max-width: 576px) {
    .l-header {
        padding: 0 20px;
    }
}
.is-scroll {
    background: var(--background-color);
    transition: ease-in-out 0.2s;
}
/* - Main */
.l-main {
    width: 100%;
    padding: 80px 40px 160px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-gap: 160px;
    grid-template-columns: 1fr;
}
.l-inner {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .l-main {
        padding: 80px 30px;
        grid-gap: 80px;
    }
}
@media screen and (max-width: 576px) {
    .l-main {
        padding: 80px 20px;
    }
}
/* - Footer */
.l-footer {
    width: 100%;
    background: var(--color-black);
    color: var(--color-white);
    padding: 80px 40px;
    z-index: -999;

    a {
        color: var(--font-color);
        text-decoration: none;
    }
    &-inner {
        max-width: var(--max-width);
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > * {
            margin: 0 auto 40px !important;

            &:last-child {
                margin: 0 !important;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .l-footer {
        padding: 80px 30px;
    }
}
@media screen and (max-width: 576px) {
    .l-footer {
        padding: 80px 20px;
    }
}
.c-header {
    &-nav {
        display: flex;
        align-items: center;
    }
    .c-nav-list-link {
        color: var(--primary-color);
        font-weight: 700;
        text-decoration: none;
    }
}
.c-header-nav-desktop {
    display: flex;
    align-items: center;

    > * {
        margin: 0 20px 0 0;

        &:last-child {
            margin: 0;
        }
    }
}
.c-header-nav-mobile {
    display: none;
}
@media screen and (max-width: 768px) {
    .c-header-nav-desktop {
        display: none;
    }
    .c-header-nav-mobile {
        display: flex;
        align-items: center;
    }
}
.c-nav {
    list-style-type: none;
    padding: 0;

    &-horizonal {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        font-weight: 400;
        text-decoration: none;
        color: var(--primary-color);
    }
    &-icon {
        font-size: 24px;
    }
}
.c-hamburger-button {
    font-size: 24px;
    color: var(--primary-color);
    z-index: 999;
}
.c-mobile-nav {
    position: fixed;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 90px 30px 30px;
    opacity: 0;
    background: var(--glass-base);
    backdrop-filter: blur(20px);
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: ease-in-out 0.2s;

    &-item {
        opacity: 0;
        transform: translateX(-100%);
        transition: ease-in-out 0.2s;
        font-size: 24px;
        line-height: 60px;
    }
    &-link {
        font-weight: 400;
        text-decoration: none;
        color: var(--primary-color);
    }
    &.is-active {
        opacity: 1;
        transform: translateX(0);
        transition: ease-in-out 0.2s;
        overflow: hidden;

        .is-order {
            opacity: 1;
            transform: translateX(0);
            transition: ease-in-out 0.4s;
        }
    }
}
@media screen and (max-width: 576px) {
    .c-mobile-nav {
        padding: 80px 20px 20px;
    }
}
.c-section {
    display: flex;
    flex-direction: column;

    &-title {
        display: inline-block;
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
        color: var(--primary-color);
        margin: 0 auto;
    }
    &-desc {
        display: inline-block;
        margin: 0 auto;
    }
}
/* Box */
.c-box {
    width: 100%;
    background: var(--base-color);
    border-radius: 10px;
    padding: 40px;

    &-title {
        font-size: 24px;
        line-height: 40px;
    }
}
/* - Logo */
.c-logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--primary-color);
    margin: 0;
    text-decoration: none;

    &-link {
        text-decoration: none;
        color: var(--primary-color);
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .c-logo {
        font-size: 24px;
        line-height: 30px;
    }
}
/* - Post Card */
.c-post-card {
    display: flex;
    width: 100%;
    text-decoration: none;
    flex-direction: column;
    background: var(--base-color);
    border-radius: 10px;
    overflow: hidden;
    transition: ease-in-out 0.2s;

    &:hover {
        filter: var(--shadow-color-hover);
    }

    &-image {
        width: 100%;
        padding: 0 0 66.66666%;
        padding: 0 0 calc(100% / 3 * 2);
        background: var(--secondary-color);

        img {
            width: 100;
            object-fit: cover;
        }
    }

    &-body {
        padding: 20px;

        > * {
            margin: 0 0 20px;

            &:last-child {
                margin: 0;
            }
        }
    }

    &-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        height: 60px;
        overflow: hidden;
        color: var(--font-color);
    }

    &-link {
        display: inline-block;
        line-height: 30px;
        font-weight: 700;
        text-decoration: none;
        color: var(--primary-color);
        transition: ease-in-out 0.2s;

        &:hover {
            opacity: 0.8;
            transition: ease-in-out 0.2s;
        }
    }

    &-category {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        color: var(--primary-color);
        margin: 0;
    }

    &-button {
        position: relative;
        display: inline-block;
        padding: 0 20px;
        line-height: 40px;
        border-radius: 20px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        background: var(--secondary-color);
        color: var(--primary-color);
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 40px;
            background: var(--primary-color);
            opacity: 0.2;
            left: 0;
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transition: ease-in-out 0.2s;
            border-radius: 20px;
        }

        &:hover::before {
            transform: translateX(0);
            -webkit-transform: translateX(0);
            transition: ease-in-out 0.2s;
        }
    }
}
/* Medeia Card */
.c-media-card {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 0 66.66666%;
    padding: 0 0 calc(100% / 3 * 2);
    background: var(--secondary-color);
    border-radius: 10px;
    overflow: hidden;
    transition: ease-in-out 0.4s;
    z-index: 99;
    &-inner {
        display: flex;
        width: 100%;
        text-decoration: none;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
        transition: ease-in-out 0.4s;
        position: absolute;
        top: 0;
    }
    &-image {
        width: 100%;
        padding: 0 0 66.66666%;
        padding: 0 0 calc(100% / 3 * 2);
        background: var(--secondary-color);
        background: var(--secondary-color);
        border-radius: 10px;
        transition: ease-in-out 0.4s;

        img {
            object-fit: cover;
            width: 100%;
        }
    }
    &:hover {
        filter: var(--shadow-color-hover);
        transform: scale(1.08);
        transition: ease-in-out 0.4s;
        overflow: visible;

        .c-media-card-inner {
            background: var(--base-color);
            transition: ease-in-out 0.4s;
        }
        .c-media-card-body {
            padding: 20px;
            opacity: 1;
            transition: ease-in-out 0.4s;
        }
        .c-media-card-image {
            border-radius: 0;
            transition: ease-in-out 0.4s;
        }
    }

    &-body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: ease-in-out 0.4s;

        > * {
            margin: 0 0 20px;

            &:last-child {
                margin: 0;
            }
        }
    }
    &-title {
        font-size: 16px;
        line-height: 30px;
        overflow: hidden;
        color: var(--font-color);
    }
    &-button {
        position: relative;
        display: inline-block;
        padding: 0 20px;
        line-height: 40px;
        border-radius: 20px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        background: var(--secondary-color);
        color: var(--primary-color);
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 40px;
            background: var(--primary-color);
            opacity: 0.2;
            left: 0;
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transition: ease-in-out 0.2s;
            border-radius: 20px;
        }
        &:hover::before {
            transform: translateX(0);
            -webkit-transform: translateX(0);
            transition: ease-in-out 0.2s;
        }
    }
    &-link {
        display: inline-block;
        line-height: 30px;
        font-weight: 700;
        text-decoration: none;
        color: var(--primary-color);
        transition: ease-in-out 0.2s;

        &:hover {
            opacity: 0.8;
            transition: ease-in-out 0.2s;
        }
    }
}
/* - Button */
.c-button {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
    border-radius: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background: var(--primary-color);
    color: var(--base-color);
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 40px;
        background: var(--base-color);
        opacity: 0.2;
        left: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transition: ease-in-out 0.2s;
        border-radius: 20px;
    }

    &:hover::before {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        transition: ease-in-out 0.2s;
    }
}
.c-like-button {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-heart {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: var(--secondary-color);
        color: var(--primary-color);
        transition: ease-in-out 0.2s;

        &.is-like {
            background: var(--color-light-pink);
            color: var(--color-pink);
            transition: ease-in-out 0.1s;
        }

        :active {
            transform: scale(0.6, 0.6);
            transition: ease-in-out 0.1s;
        }
        i {
            line-height: 40px;
            display: block;
        }
    }
    &-counter {
    }
}
/* - Graph */
.c-graph {
    position: relative;
    width: 100%;
}
.c-graph-body {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
}
.c-graph-label,
.c-graph-value {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: var(--primary-color);
    margin: 0;
}

.c-graph-backgroud {
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    background: var(--secondary-color);
}
.c-graph-bar {
    width: 100px;
    position: absolute;
    height: 20px;
    border-radius: 20px;
    background: var(--primary-color);
}
/* - Toggle */
.c-toggle {
    display: flex;
    justify-content: flex-start;
    background: var(--secondary-color);
    width: 80px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;

    &-circle {
        display: block;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        background: var(--base-color);
    }
    &-check:checked {
        margin: 0 0 0 40px;
    }
}
/* - Form */
.c-form {
    &-body {
        background: var(--base-color);
        border-radius: 10px;
        padding: 20px;

        > * {
            margin: 0 0 20px;

            &:last-child {
                margin: 0;
            }
        }
    }
    &-input {
        width: 100%;
        background: var(--color-gray);
        line-height: 40px;
        border-radius: 20px;
        padding: 0 20px;
        transition: ease-in-out 0.2s;

        &:focus {
            background: var(--secondary-color);
            transition: ease-in-out 0.2s;
        }
    }
    &-label {
        display: block;
        line-height: 30px;
    }
    &-textarea {
        width: 100%;
        background: var(--color-gray);
        border-radius: 10px;
        padding: 20px;
        transition: ease-in-out 0.2s;

        &:focus {
            background: var(--secondary-color);
            transition: ease-in-out 0.2s;
        }
    }
}
.c-copyright {
    line-height: 30px;
}
.p-article {
    &-header {
        display: flex;
        flex-direction: column;
        padding: 160px 0 40px;
        width: 100%;
    }
    &-title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        margin: 0 auto;
    }
    &-category {
        font-weight: 700;
        color: var(--primary-color);
        margin: 0 auto;
    }
    &-date {
        display: inline-block;
        margin: 0 auto;
    }
    &-body {
        width: 100%;
        background: var(--base-color);
        border-radius: 10px;
        padding: 40px;
        color: var(--font-color);
        line-height: 30px;

        * {
            margin: 0 0 40px;
            &:last-child {
                margin: 0;
            }
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 80px 0 40px;

            &:first-child {
                margin: 0 0 40px;
            }
        }
        h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 40px;
        }
        h3 {
            font-size: 24px;
            line-height: 40px;
            font-weight: 400;
        }
        h4 {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
        }
        h5,
        h6 {
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
        }
        p {
            > code {
                display: inline-block;
                font-size: 14px;
                line-height: 20px;
                color: var(--color-pink);
                background: var(--color-gray);
                font-family: var(--monospace);
                border-radius: 4px;
                padding: 2px 4px;
            }
        }
        ol,
        ul {
            list-style-position: inside;
            padding: 0;
            > li {
                margin: 0;
            }
        }
        pre {
            padding: 20px;
            border-radius: 10px;
            background: var(--color-black);

            code {
                font-family: var(--monospace);
                color: var(--font-color);
                line-height: 20px;
            }
        }
        a {
            color: var(--primary-color);
            font-weight: 700;
        }
    }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
    .p-article {
        &-body {
            padding: 40px 30px;
        }
        &-header {
            padding: 80px 0 10px;
        }
    }
}
@media screen and (max-width: 576px) {
    .p-article {
        &-body {
            width: calc(100% + 40px);
            padding: 40px 20px;
            margin: 0 -20px;
            border-radius: 0;
        }
    }
}
.p-index {
    width: 100%;
    background: var(--base-color);
    border-radius: 10px;
    padding: 20px;
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}

/* Unity */
.u-text-center {
}
.swiper-container {
    overflow: visible !important;
}
.swiper-pagination-bullet {
    background: var(--primary-color) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.swiper-pagination-bullet-active {
    background: var(--primary-color) !important;
}
