/* Foundation */
@font-face {
  font-family: "QualionRound";
  src: url("../fonts/QualionRound.ttf");
  src: url("../fonts/QualionRound.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "QualionRound";
  src: url("../fonts/QualionRound-Bold.ttf");
  src: url("../fonts/QualionRound-Bold.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
:root {
  --max-width: 1920px;
  --sans-serif: "QualionRound", "QualionRound-Regular", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --monospace: "Courier", "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}
:root,
.is-theme-light {
  --base-color: #ffffff;
  --background-color: #f7faff;
  --primary-color: #2f76e6;
  --primary-color-light: #d1e2ff;
  --primary-color-dark: #02368a;
  --secondary-color: #ce127f;
  --secondary-color-light: #ffccea;
  --font-color: #202020;
  --font-color-sub: #808080;
  --glass-base: rgba(255, 255, 255, 0.6);
  --color-black: #202020;
  --color-white: #fff;
  --color-gray: #eeeeee;
  --color-light-pink: #ffa1bc;
  --color-pink: #ff2266;
  --shadow-color-hover: drop-shadow(0 0 20px rgba(47, 118, 230, 0.2));
}
.is-theme-dark {
  --base-color: #111111;
  --background-color: #202020;
  --primary-color: #3477eb;
  --primary-color-light: #273957;
  --primary-color-dark: #5a98fc;
  --font-color: #dddddd;
  --font-color-sub: #aaaaaa;
  --color-black: #111111;
  --color-gray: #404040;
  --color-light-pink: #4e1021;
  --color-pink: #ff5b8c;
  --glass-base: rgba(32, 32, 32, 0.6);
  --shadow-color-hover: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}
@mixin selection {
  ::-moz-selection {
    @content;
  }
  ::selection {
    @content;
  }
}
@include selection {
  background: var(--primary-color);
  color: var(--base-color);
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-size: 16px;
  line-height: 30px;
}
::-webkit-scrollbar {
  width: 10px;
}
.section::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 20px;
}
body {
  font-size: 16px;
  line-height: 30px;
  font-family: var(--sans-serif);
  font-weight: 400;
  width: 100%;
  color: var(--font-color);
  background: var(--base-color);
}
input,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  resize: vertical;
}
input {
  &[type="checkbox"],
  &[type="radio"] {
    display: none;
  }
  &[type="submit"],
  &[type="button"] {
    cursor: pointer;
  }
}
a,
label,
button {
  cursor: pointer;
}
select {
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }
}
/* Layout */
.l-grid {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 40px;
  transition: all 1s ease-out;
  &-full {
    grid-column: span 12;
    width: 100%;
    transition: all 1s ease-out;
  }
  &-extra-large,
  &-article {
    grid-column: span 8;
    width: 100%;
    transition: all 1s ease-out;
  }
  &-large {
    grid-column: span 6;
    width: 100%;
    transition: all 1s ease-out;
  }
  &-medium,
  &-sidebar {
    grid-column: span 4;
    width: 100%;
    transition: all 1s ease-out;
  }
  &-sidebar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
  }
  &-small {
    grid-column: span 3;
    width: 100%;
    transition: all 1s ease-out;
  }
  &-extra-small {
    grid-column: span 2;
    width: 100%;
    transition: all 1s ease-out;
  }
}
@media screen and (max-width: 992px) {
  .l-grid {
    grid-template-columns: repeat(12, 1fr);

    &-article {
      grid-column: span 12;
    }
    &-small {
      grid-column: span 4;
    }
    &-extra-small {
      grid-column: span 2;
    }
  }
}
@media screen and (max-width: 768px) {
  .l-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 30px;

    &-full,
    &-large,
    &-article {
      grid-column: span 8;
    }
    &-small {
      grid-column: span 4;
    }
    &-extra-small {
      grid-column: span 2;
    }
  }
}
@media screen and (max-width: 576px) {
  .l-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    &-full,
    &-extra-large,
    &-large,
    &-medium,
    &-article {
      grid-column: span 4;
    }
  }
}
/* - Main */
.l-universal {
  width: 100%;
  padding: 0 40px;
  display: grid;
  grid-gap: 160px;
}
@media screen and (max-width: 768px) {
  .l-universal {
    padding: 0 30px;
    grid-gap: 80px;
  }
}
@media screen and (max-width: 576px) {
  .l-universal {
    padding: 0 20px;
  }
}
.l-main {
  width: 100%;
  display: grid;
  grid-gap: 160px;
  padding: 160px 0;
  grid-template-columns: 1fr;
  background: var(--background-color);
  border-radius: 20px 20px 0 0;
}
@media screen and (max-width: 768px) {
  .l-main {
    gap: 80px;
    padding: 80px 0;
  }
}
.l-overflow-hidden {
  overflow: hidden;
}
/* - Header */
.l-header {
  width: 100%;
  height: 80px;
  padding: 0 40px;
  z-index: 999;
  transition: ease-in-out 0.2s;

  &-inner {
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .l-header {
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .l-header {
    padding: 0 20px;
  }
}
/* - Footer */
.l-footer {
  width: 100%;
  background: var(--color-black);
  color: var(--color-white);
  padding: 80px 40px;
  z-index: -999;
  border-radius: 20px 20px 0 0;

  a {
    text-decoration: none;
    color: var(--color-white);
  }
  &-inner {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  &-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      margin: 0 auto 40px !important;

      &:last-child {
        margin: 0 !important;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .l-footer {
    padding: 80px 30px;

    &-inner {
      gap: 30px;
    }
  }
}
@media screen and (max-width: 576px) {
  .l-footer {
    padding: 80px 20px;

    &-inner {
      gap: 20px;
      flex-direction: column;
    }
  }
}
.c-header-nav {
  display: flex;
  align-items: center;

  &-list {
    display: flex;
  }
  &-item {
    margin: 0 20px 0 0;
    line-height: 40px;
    position: relative;

    &:last-child {
      margin: 0;
    }
  }
  &-link {
    display: block;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 36px;
    line-height: 40px;
    position: relative;
    transition: ease-in-out 0.2s;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 20px;
      background: var(--primary-color);
      bottom: -40px;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transition: ease-in-out 0.2s;
    }
    &:hover {
      color: var(--primary-color-dark);
      transition: ease-in-out 0.2s;

      &::before {
        background: var(--primary-color-dark);
        opacity: 1;
        bottom: -20px;
        transition: ease-in-out 0.2s;
      }
    }
  }
  > * {
    margin: 0 20px 0 0 !important;

    &:last-child {
      margin: 0 !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .c-header-nav {
    &-list {
      display: none !important;
    }
  }
}
.c-nav {
  list-style-type: none;
  padding: 0;

  &-horizonal {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
  &-link {
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
  }
  &-icon {
    font-size: 24px;
  }
}
.c-hamburger-button {
  font-size: 24px;
  width: 40px;
  height: 40px;
  color: var(--base-color);
  background: var(--primary-color);
  border-radius: 20px;
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-60px);
  transition: ease-in-out 0.2s;

  &.is-scroll {
    transform: translateY(0);
    transition: ease-in-out 0.2s;
  }
  &-icon {
    opacity: 0;
    position: absolute;
    transition: ease-in-out 0.2s;
    transform: rotateY(180deg);

    &.is-visible {
      opacity: 1;
      transition: ease-in-out 0.2s;
      transform: rotateY(0);
    }
  }
}
.c-slide-nav {
  position: fixed;
  list-style: none;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: var(--glass-base);
  backdrop-filter: blur(20px);
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: ease-in-out 0.2s;

  &-inner {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 120px 0 40px;
  }
  &-item {
    opacity: 0;
    transform: translateX(-100%);
    transition: ease-in-out 0.2s;
    font-size: 24px;
    line-height: 60px;
  }
  &-link {
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
  }
  &.is-active {
    opacity: 1;
    transform: translateX(0);
    transition: ease-in-out 0.2s;
    overflow: hidden;
    z-index: 99;

    .is-order {
      opacity: 1;
      transform: translateX(0);
      transition: ease-in-out 0.4s;
    }
  }
}
@media screen and (max-width: 1370px) {
  .c-slide-nav {
    &-inner {
      margin: 0;
      padding: 120px 40px 40px;
    }
  }
}
@media screen and (max-width: 768px) {
  .c-slide-nav {
    &-inner {
      padding: 90px 30px 30px;
    }
  }
}
@media screen and (max-width: 576px) {
  .c-slide-nav {
    &-inner {
      padding: 80px 20px 20px;
    }
  }
}
/* Box */
.c-box {
  width: 100%;
  background: var(--base-color);
  border-radius: 20px;
  padding: 40px;

  &-title {
    font-size: 24px;
    line-height: 40px;
  }
}
.c-feature-box {
  width: 100%;
  height: 100%;
  background: var(--base-color);
  border-radius: 20px;
  padding: 20px;

  &-emoji {
    line-height: 60px;
    font-size: 48px;
    margin: 0 auto 20px;
  }
  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
  }
}
/* - Logo */
.c-logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--primary-color);
  margin: 0;
  text-decoration: none;

  &-link {
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
    display: block;
  }
}
/* - Post Card */
.c-post-card {
  display: flex;
  width: 100%;
  text-decoration: none;
  flex-direction: column;
  background: var(--base-color);
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  z-index: 1;

  &:hover {
    filter: var(--shadow-color-hover);
  }
  &:active {
    transform: scale(0.98);
    transition: ease-in-out 0.1s;
  }
  &-image {
    width: 100%;
    padding: 0 0 66.66666%;
    padding: 0 0 calc(100% / 3 * 2);
    background: var(--primary-color-light);

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-body {
    padding: 20px;

    > * {
      margin: 0 0 20px;

      &:last-child {
        margin: 0;
      }
    }
  }
  &-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    height: 60px;
    color: var(--font-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  &-link {
    display: inline-block;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
    transition: ease-in-out 0.2s;

    &:hover {
      opacity: 0.8;
      transition: ease-in-out 0.2s;
    }
  }
  &-category {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: var(--primary-color);
    margin: 0;
  }
  &-button {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background: none;
    color: var(--primary-color);
    background: var(--primary-color-light);
    overflow: hidden;
    z-index: 1;
    transition: ease-in-out 0.2s;

    &:hover {
      color: var(--base-color);
      background: var(--primary-color);
      transition: ease-in-out 0.2s;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 40px;
      background: var(--primary-color);
      left: 0;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transition: ease-in-out 0.2s;
      border-radius: 20px;
      z-index: -1;
    }
    &:hover::before {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      transition: ease-in-out 0.2s;
    }
  }
}
/* Medeia Card */
.c-media-card {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 0 66.66666%;
  padding: 0 0 calc(100% / 3 * 2);
  background: var(--primary-color-light);
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  z-index: 99;

  &:active {
    transform: scale(0.98);
    transition: ease-in-out 0.1s;
  }
  &-inner {
    display: flex;
    width: 100%;
    text-decoration: none;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in-out 0.4s;
    position: absolute;
    top: 0;
  }
  &-image {
    width: 100%;
    padding: 0 0 66.66666%;
    padding: 0 0 calc(100% / 3 * 2);
    background: var(--primary-color-light);
    background: var(--primary-color-light);
    border-radius: 20px;
    transition: ease-in-out 0.4s;

    img {
      object-fit: cover;
      width: 100%;
    }
  }
  &:hover {
    filter: var(--shadow-color-hover);
    transition: ease-in-out 0.4s;
    overflow: visible;

    .c-media-card-inner {
      background: var(--base-color);
      transition: ease-in-out 0.4s;
    }
    .c-media-card-body {
      padding: 20px;
      opacity: 1;
      transition: ease-in-out 0.4s;
    }
    .c-media-card-image {
      border-radius: 0;
      transition: ease-in-out 0.4s;
    }
  }
  &-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: ease-in-out 0.4s;
  }
  &-title {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: var(--font-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  &-button {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background: none;
    color: var(--primary-color);
    background: var(--primary-color-light);
    overflow: hidden;
    z-index: 1;
    transition: ease-in-out 0.2s;

    &:hover {
      color: var(--base-color);
      background: var(--primary-color);
      transition: ease-in-out 0.2s;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 40px;
      background: var(--primary-color);
      left: 0;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transition: ease-in-out 0.2s;
      border-radius: 20px;
      z-index: -1;
    }
    &:hover::before {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      transition: ease-in-out 0.2s;
    }
  }
  &-link {
    display: inline-block;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
    transition: ease-in-out 0.2s;

    &:hover {
      opacity: 0.8;
      transition: ease-in-out 0.2s;
    }
  }
}
/* Vertical Card */
.c-vertical-card {
  position: relative;
  display: block;
  aspect-ratio: 2 / 3;
  width: 100%;
  padding: 0 0 150%;
  background: var(--primary-color-light);
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  z-index: 99;

  &:active {
    transform: scale(0.98);
    transition: ease-in-out 0.1s;
  }
  &:hover {
    filter: var(--shadow-color-hover);
    transition: ease-in-out 0.4s;
    overflow: visible;
  }
  &-image {
    width: 100%;
    padding: 0 0 200%;
    aspect-ratio: 2 / 1;
    background: var(--primary-color-light);
    background: var(--primary-color-light);
    border-radius: 20px;
    transition: ease-in-out 0.4s;

    img {
      object-fit: cover;
      width: 100%;
    }
  }
  &-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: ease-in-out 0.4s;
  }
  &-title {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: var(--font-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  &-button {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background: none;
    color: var(--primary-color);
    background: var(--primary-color-light);
    overflow: hidden;
    z-index: 1;
    transition: ease-in-out 0.2s;

    &:hover {
      color: var(--base-color);
      background: var(--primary-color);
      transition: ease-in-out 0.2s;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 40px;
      background: var(--primary-color);
      left: 0;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transition: ease-in-out 0.2s;
      border-radius: 20px;
      z-index: -1;
    }
    &:hover::before {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      transition: ease-in-out 0.2s;
    }
  }
  &-link {
    display: inline-block;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
    transition: ease-in-out 0.2s;

    &:hover {
      opacity: 0.8;
      transition: ease-in-out 0.2s;
    }
  }
}
/* - Button */
.c-button {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  line-height: 40px;
  font-weight: 700;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  background: none;
  color: var(--base-color);
  background: var(--primary-color);
  overflow: hidden;
  z-index: 1;
  transition: ease-in-out 0.2s;

  &:active {
    transform: scale(0.98);
    transition: ease-in-out 0.1s;
  }
}
.c-link-button {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  line-height: 40px;
  font-weight: 700;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  background: none;
  color: var(--base-color);
  background: var(--primary-color);
  overflow: hidden;
  z-index: 1;
  transition: ease-in-out 0.2s;

  &:hover {
    color: var(--primary-color);
    background: var(--primary-color-light);
    transition: ease-in-out 0.2s;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    background: var(--primary-color-light);
    left: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: ease-in-out 0.2s;
    border-radius: 20px;
    z-index: -1;
  }
  &:hover::before {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: ease-in-out 0.2s;
  }
  &:active {
    transform: scale(0.98);
    transition: ease-in-out 0.1s;
  }
}
.c-more-button {
  display: inline-block;
  overflow: hidden;
  z-index: 1;

  &-container {
    display: flex;
    position: relative;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;

    &::before {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      left: 0;
      border-radius: 40px;
      background: var(--primary-color);
      z-index: 0;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transition: ease-in-out 0.2s;
    }
    &:hover {
      .c-more-button-cta {
        color: var(--base-color);
        transition: ease-in-out 0.2s;
        padding: 0 24px 0 10px;
      }
      .c-more-button-arrow {
        transform: translateX(6px);
        -webkit-transform: translateX(6px);
        transition: ease-in-out 0.2s;
      }
    }
    &:hover::before {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      transition: ease-in-out 0.2s;
    }
  }
  &-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 24px;
    color: var(--base-color);
    background: var(--primary-color);
    transition: ease-in-out 0.2s;
    z-index: 1;
  }
  &-cta {
    line-height: 40px;
    font-weight: 700;
    color: var(--primary-color);
    padding: 0 20px 0 10px;
    transition: ease-in-out 0.2s;
    z-index: 1;
  }
  &:active {
    transform: scale(0.98);
    transition: ease-in-out 0.1s;
  }
}
.c-like-button {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &-heart {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: var(--primary-color-light);
    color: var(--primary-color);
    transition: ease-in-out 0.2s;

    &.is-like {
      background: var(--color-light-pink);
      color: var(--color-pink);
      transition: ease-in-out 0.1s;
    }
    &:active {
      transform: scale(0.6, 0.6);
      transition: ease-in-out 0.1s;
    }
    i {
      line-height: 40px;
      display: block;
    }
  }
}
/* Sticky Navigation */
.c-sticky-nav {
  background: var(--base-color);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}
@media screen and (max-width: 992px) {
  .c-sticky-nav {
    display: none;
  }
}
/* Loader */
.c-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: ease-in-out 0.4s;
  background: var(--background-color);

  &.is-loaded {
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.4s;
  }
  &-container {
    display: flex;
    gap: 10px;
  }
  &-dot {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: var(--primary-color);
    animation: a-loader-dot-bounce 1.6s infinite;
    transition: ease-in-out 0.4s;

    &:nth-child(1) {
      animation-delay: -0.4s;
      transition: ease-in-out 0.4s;
    }
    &:nth-child(2) {
      animation-delay: -0.2s;
      transition: ease-in-out 0.4s;
    }
    &:nth-child(3) {
      animation-delay: 0;
      transition: ease-in-out 0.4s;
    }
  }
}
@keyframes a-loader-dot-bounce {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
/* Toggle */
.c-toggle {
  display: flex;
  justify-content: flex-start;
  color: var(--primary-color);
  background: var(--primary-color);
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 20px;
  position: fixed;
  z-index: 999;
  right: calc((100% - var(--max-width)) / 2);
  transition: ease-in-out 0.2s;

  &-circle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background: var(--base-color);
    transition: ease-in-out 0.2s;
    animation: a-sun-moon 1.6s linear infinite alternate;
    position: relative;
    overflow: hidden;
  }
  &-icon {
    font-size: 20px;
    display: flex;
    position: absolute;
    top: -30px;
    transform: rotateY(0);
    transition: ease-in-out 0.4s;

    &:last-child {
      top: 0px;
    }
    &::before {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.is-theme-dark {
  .c-toggle-circle {
    margin: 0 0 0 40px;
    transition: ease-in-out 0.4s;
  }
  .c-toggle-icon {
    top: 0px;

    &:last-child {
      top: 30px;
    }
  }
}
@keyframes a-sun-moon {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@media screen and (max-width: 2010px) {
  .c-toggle {
    right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .c-toggle {
    right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .c-toggle {
    right: 20px;
  }
}
/* Form */
.c-form {
  &-body {
    background: var(--base-color);
    border-radius: 20px;
    padding: 20px;

    > * {
      margin: 0 0 20px;

      &:last-child {
        margin: 0;
      }
    }
  }
  &-input {
    width: 100%;
    background: var(--color-gray);
    line-height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    transition: ease-in-out 0.2s;

    &:focus {
      background: var(--primary-color-light);
      transition: ease-in-out 0.2s;
    }
  }
  &-label {
    display: block;
    line-height: 30px;
  }
  &-textarea {
    width: 100%;
    background: var(--color-gray);
    border-radius: 120px;
    padding: 20px;
    transition: ease-in-out 0.2s;

    &:focus {
      background: var(--primary-color-light);
      transition: ease-in-out 0.2s;
    }
  }
}
.c-copyright {
  line-height: 30px;
}
.p-hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
}
.aaa {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: var(--primary-color);
}
.bbb {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--primary-color);
}
.p-section {
  display: flex;
  flex-direction: column;

  > * {
    margin: 0 0 20px;

    &:last-child {
      margin: 0;
    }
  }
  &-caption {
    font-weight: 700;
    color: var(--font-color-sub);
  }
  &-title {
    display: inline-block;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: var(--primary-color);
  }
  &-desc {
    display: inline-block;
  }
}
.p-article {
  &-header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    overflow-wrap: break-word;
  }
  &-category {
    font-weight: 700;
    color: var(--primary-color);
  }
  &-date {
    display: inline-block;
  }
  &-body {
    width: 100%;
    color: var(--font-color);
    line-height: 30px;

    * {
      margin: 0 0 40px;
      &:last-child {
        margin: 0;
      }
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 80px 0 40px;

      &:first-child {
        margin: 0 0 40px;
      }
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
    }
    h3 {
      font-size: 24px;
      line-height: 40px;
      font-weight: 400;
    }
    h4 {
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
    }
    h5,
    h6 {
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
    }
    p {
      > code {
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        color: var(--color-pink);
        background: var(--color-gray);
        font-family: var(--monospace);
        border-radius: 4px;
        margin: 0;
        padding: 2px 4px;
      }
    }
    ol,
    ul {
      list-style-position: inside;
      padding: 0;
      > li {
        margin: 0;
      }
    }
    pre {
      padding: 20px;
      border-radius: 20px;
      background: var(--color-black);

      code {
        font-family: var(--monospace);
        color: var(--font-color);
        line-height: 20px;
      }
    }
    a {
      color: var(--primary-color);
      font-weight: 700;
    }
  }
}
.p-index {
  width: 100%;
  background: var(--base-color);
  border-radius: 20px;
  padding: 20px;
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
/* Animation */
@mixin animation(
  $name,
  $delay: 0.4s,
  $duration: 0.6s,
  $timing-function: ease-in-out,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  animation: {
    name: $name;
    delay: $delay;
    duration: $duration;
    timing-function: $timing-function;
    direction: $direction;
    fill-mode: $fill-mode;
  }
}
.a-target {
  position: relative;
  opacity: 0;
}
.a-fade-in {
  @include animation($name: a-fade-in);
}
@keyframes a-fade-in {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.p-error {
  &-number {
    font-size: 320px;
    font-weight: 700;
    line-height: 320px;
    color: var(--primary-color);
  }
  &-nav {
    display: flex;
    gap: 20px;

    &-button {
      font-weight: 700;
      line-height: 40px;
      border-radius: 40px;
      width: 40px;
      height: 40px;
      text-align: center;
      background: var(--primary-color);
      color: var(--base-color);

      &:active {
        transform: scale(0.98);
        transition: ease-in-out 0.1s;
      }
    }
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .p-error {
    &-number {
      font-size: 240px;
      font-weight: 700;
      line-height: 240px;
      color: var(--primary-color);
    }
  }
}
@media screen and (max-width: 576px) {
  .p-error {
    &-number {
      font-size: 160px;
      font-weight: 700;
      line-height: 160px;
      color: var(--primary-color);
    }
  }
}
